/* LINKS */
a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  opacity: 80%;
}

/* TAGS */
.tag-language {
  background-color: #d3b375ff;
  color: black;
  margin-bottom: 5px;
}

.tag-software {
  background-color: #a89d88ff;
  color: black;
  margin-bottom: 5px;
}

.tag-other {
  background-color: #9f8a60ff;
  color: black;
  margin-bottom: 5px;
}

/* ANIMATIONS */
.motion-scroll {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
   100%{
     /* Vertical is set to height of background image to loop */
    background-position:0% 595px;
  }
}

/* FONT */
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Josefin Sans", sans-serif
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3b375ff;
}
