/* LINKS */
a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  opacity: 80%;
}

/* PROJECT PAGE */
#project-head img {
  max-width: 100%;
  margin-bottom: 5px;
  background-color: lightgray;
  border-style: solid;
  border-color: gray;
  border-width: medium;
}

.grey-box {
  background-color: lightgray;
  border-style: solid;
  border-color: gray;
  border-width: thick;
}

/* OVERLAY IMAGES */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9f8a60ff;
}

.container {
  position: relative;
}

.thumbnail-image {
  display: block;
  background: black;
  margin: auto;
  max-width: 100%;
  max-height: 30vh;
  min-height: 200px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* TAGS */
.tag-language {
  background-color: #d3b375ff;
  color: black;
  margin-bottom: 5px;
  padding-top: 3px;
}

.tag-software {
  background-color: #a89d88ff;
  color: black;
  margin-bottom: 5px;
  padding-top: 3px;
}

.tag-other {
  background-color: #9f8a60ff;
  color: black;
  margin-bottom: 5px;
  padding-top: 3px;
}

/* ANIMATIONS */
.motion-scroll {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
   100%{
     /* Vertical is set to height of background image to loop */
    background-position:0% 595px;
  }
}

/* FONT */
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Josefin Sans", sans-serif
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3b375ff;
}
